* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.warp {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.snowman {
    width: 100px;
    height: 130px;
    background-image: url(1.jpg);
    background-size: 400px auto;
    background-position: 0px 0px;
    position: absolute;
    left: -100px;
    bottom: 0;
    background-repeat: no-repeat;
    /* animation: run 1s steps(4) both infinite, move 7s linear infinite; */
}

@keyframes run {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -400px 0px;
    }
}

@keyframes move {
    form {
        left: -100px;
    }
    to {
        left: calc(100% + 100px);
    }
}